/* card section*/

section{
    grid-area: sc;
}

#photoBox{
    display: flex;
    flex-direction: column;
}
    
.cardImage{
    width: 100%;
    height: 250px;
}

.card{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;    
}

.cardContent{
    display: flex;
    flex-direction: column;   
}

.cardContent button{
    text-align: center;
    color:#797069;
    font-size: 20px;
    font-weight: 700;
    padding: 25px 15px;
    background-color: #dfe4ea;
    border: none;
}

#one{
    background-image: url('images/pancakes.jpg');
    background-size: cover;
}
 
 #two{
     background-image: url('images/bananabread.jpg');
     background-size: cover;
}
 
 #three{
     background-image: url('images/kruidnoten.jpg');
     background-size: cover;
}
 
/* landscape phones */
@media (min-width: 567px)and (max-width: 767px){

    #photoBox{
        display: flex;
        flex-direction: column;
        width: 70%;
        
    }

    .cardImage{
        width: 100%;
        height: 350px;
    }

}

/* tablets*/
@media (min-width: 768px)and (max-width: 991px){
    section{
        grid-area: sc;
    }
    
    #photoBox{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
            
    .cardImage{
        width: 200px;
        height: 150px;
    }
        
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        
    .cardContent{
        display: flex;
        flex-direction: column;
    }
        
    .cardContent button{
        text-align: center;
        color:#797069;
        font-size: 14px;
        font-weight: 700;
        padding: 25px 15px;
        background-color: #dfe4ea;
        border: none;             
    }
        

}

/* large devices*/
@media (min-width: 992px)and (max-width: 1199px){
    section{
        grid-area: sc;
    }
    
    #photoBox{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
            
    .cardImage{
        width: 300px;
        height: 250px;
    }
        
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        
    .cardContent{
        display: flex;
        flex-direction: column;
    }
        
    .cardContent button{
        text-align: center;
        color:#797069;
        font-size: 20px;
        font-weight: 700;
        padding: 25px 15px;
        background-color: #dfe4ea;
        border: none;             
    }
        
    .cardContent button:hover{
        background-color: #408080;
        color:#bbbbbb;
    }
    
    #one{
        background-image: url('images/pancakes.jpg');
        background-size: cover;
    }
        
    #two{
        background-image: url('images/bananabread.jpg');
        background-size: cover;
    }
        
    #three{
        background-image: url('images/kruidnoten.jpg');
        background-size: cover;
    }
    

}

/* extra large devices*/
@media (min-width: 1200px){

    section{
        grid-area: sc;
    }
    
    #photoBox{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
            
    .cardImage{
        width: 300px;
        height: 250px;
    }
        
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        
    .cardContent{
        display: flex;
        flex-direction: column;
    }
        
    .cardContent button{
        text-align: center;
        color:#797069;
        font-size: 20px;
        font-weight: 700;
        padding: 25px 15px;
        background-color: #dfe4ea;
        border: none;             
    }
        
    .cardContent button:hover{
        background-color: #408080;
        color:#bbbbbb;
    }
    
    #one{
        background-image: url('images/pancakes.jpg');
        background-size: cover;
    }
        
    #two{
        background-image: url('images/bananabread.jpg');
        background-size: cover;
    }
        
    #three{
        background-image: url('images/kruidnoten.jpg');
        background-size: cover;
    }
    

}